:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }

  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    letter-spacing: 1.1px;
  }

  a {
    color: var(--blue);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
  }

  a:hover {
    text-decoration: underline;
  }

  body
  {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "aside main";
    grid-gap: 20px;
  }

  body > aside
  {
    grid-area: aside;
    display: grid;
    grid-template-rows: 4fr 10fr 7fr;
    grid-template-areas: "image" "text";
    width: 200px;
    border-right: 1px solid var(--light-blue);
    background-color: white;
    position: fixed;
  }

  body > aside > img
  {
    grid-area: image;
    margin: auto;
    width: 60%;
  }

  body > aside > nav > ul
  {
    margin-top: -1%;
  }

  body > aside > nav > ul > li
  {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 330%;
    margin-right: 25%;
    border-bottom: 1px solid var(--light-blue);
    text-transform: uppercase;
  }

  body > main
  {
    grid-area: main;
    width: 1125px;
    display: grid;
    grid-template-rows: 150px 375px 25% 1fr;
    grid-template-areas: "header" "image" "section" "footer";

  }

  body > main > header
  {
    grid-area: header;
  }

  body > main > header > img
  {
    grid-area: header;
    height: 60%;
    width: 23%;
    margin-left: 0px;
  }

  body > main > header > .subheading
  {
    grid-area: header;
    display: none;
  }

  body > main > img
  {
    grid-area: image;
    width: 100%;
    height: 100%;
    margin-top: -30px;
  }

  body > main > section
  {
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "section1 section2 section3";
    width: 100%;
    margin-top: -10px;
    line-height: 20px;
  }

  body > main > section > #what-we-do
  {
    grid-area: section1;
    margin-right: 23px;
    height: 220px;
  }

  body > main > section > #what-we-do > h2 > .fa-star-of-life
  {
    grid-area: section1;
    padding-right: 10px;
  }

  body > main > section > #our-work
  {
    grid-area: section2;
    border-left: 1px solid var(--light-green);
    padding-left: 25px;
    margin-right: 15px;
    height: 220px;
  }

  body > main > section > #our-work > h2 > .fa-pencil-alt
  {
    grid-area: section2;
    padding-right: 10px;
  }

  body > main > section > #contact-us
  {
    grid-area: section3;
    border-left: 1px solid var(--light-green);
    padding-left: 25px;
    margin-right: 15px;
    height: 220px;
  }

  body > main > section > #contact-us > h2 > .fa-envelope
  {
    grid-area: section3;
    padding-right: 10px;
  }

  body > main > section > div > h2
  {
    grid-area: section;
    color: var(--green);
  }

  body > main > footer
  {
    grid-area: footer;    
  }

  body > main > footer > div
  {
    grid-area: footer;
    display: none;
  }

  body > main > footer > div > #logos > img
  {
    grid-area: footer;
    display: none;
  }

  body > main > footer > p
  {
    grid-area: footer;
    margin-top: 23px;
  }
