﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body > .container > .filmsearch > form
{
	display: flex;
}

body > .container > .filmsearch > form > #group
{
	margin: 5px;
}

body > .container > .filmsearch > form > #button
{
	height: 25px;
	margin-top: 28px;
}

body > .container > .customersearch > form
{
	display: flex;
}

body > .container > .customersearch > form > #group
{
	margin: 5px;
}

body > .container > .customersearch > form > #button
{
	height: 25px;
	margin-top: 28px;
}
