<template>
  <div class="search">
    <input
      type="text"
      id="search"
      name="search"
      @keyup="filterItems"
      placeholder="Search Item's..."
    >
  </div>
</template>

<script>
export default {
  methods: {
    filterItems() {
      const query = document.getElementById("search").value;
      this.$emit("filter-items", query);
    }
  }
};
</script>

<style>
#search {
  width: 100%;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 50px;
  padding: 10px;
}
</style>
