body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

body > section > .recipeTable{
	margin-left: 20px;
}

body > section > .recipeTable > #imgs{
	display: flex;
	margin-left: 120px;
}

body > section > .recipeTable > #imgs > #img1 > img{
	width: 150px;
	height: 110px;
	padding-left: 60px;
	padding-right: 75px;
}

body > section > .recipeTable > #imgs > #img2 > img{
	width: 150px;
	height: 110px;
	padding-left: 75px;
	padding-right: 60px;
}

body > section > .recipeTable > #imgs > #img3 > img{
	width: 150px;
	height: 110px;
	padding-left: 150px;
	padding-right: 60px;
}

body > section > .recipeTable > table tr > td{
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
}

body > section > .recipeTable > table tr:nth-child(odd){
	background-color: #ccc;
}

body > section > .recipeTable > table #rating > img{
	width: 100px;
	height: 20px;
}

body > section > .recipetiles{
	display: flex;
	justify-content: space-around;
}

body > section > .recipetiles > #item{
	display: grid;
	grid-template-rows: 200px 100px;
	grid-template-areas: "image" "info";
}

body > section > .recipetiles > #item > #img > img{
	grid-area: image;
	width: 300px;
	height: 220px;
} 

body > section > .recipetiles > #item > #info{
	grid-area: info;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 120px;
	background-color: #f0ead6;
}

body > section > .recipetiles > #item > #info > #name{
	text-align: left;
	font-size: 20px;
}

body > section > .recipetiles > #item > #info > #bottom{
	display: flex;
	justify-content: space-between;
}

body > section > .recipetiles > #item > #info > #bottom > #rating > img{
	width: 100px;
	height: 20px;
}
