html * {
  margin: 0;
  padding: 0;
}
#slug_1 {
  background-color: #ECA008;
  padding: 50px;
  margin: 0;
  border: 3px solid black;
}
#slug_2 {
  background-color: #ECA008;
  padding: 30px;
  margin: 50px;
  border: 3px solid black;
}
