body {
    width: 100%;
    background-color: #212121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
	sans-serif;
}

body, header, nav {
    margin: 0px;
}

header {
    background-color: #0099CC;
    color: white;
    padding: 10px 10px;
}

nav {
    background-color: #8DC63F;
    margin-bottom: 20px;
    padding: 5px;
    height: 50px;
}

nav ul {
    float: left;
}

nav li {
    list-style-type: none;
    color: white;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 1.3em;
    float: left;
}

nav li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

section {
    clear: both;
    display: block;
    width: 80%;
    margin: 20px auto;
    vertical-align: top;
    text-align: center;
    max-width: 1379px;
    min-width: 1000px;
    min-height: 450px;
    background-color: #FFF;
    border-radius: 7px;
}

/*





list





*/

body > section > .productlist
{
    display: flex;
    flex-direction: column;
}

body > section > .productlist > #product
{
    display: grid;
    grid-template-columns: 200px 225px 1fr;
    grid-template-areas: "image info .";
    border-bottom: 1px solid rgb(172, 172, 172);
    margin-left: 50px;
    margin-right: 50px;
}

body > section > .productlist > #product > a > img
{
    grid-area: image;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body > section > .productlist > #product > #info
{
    grid-area: info;
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
}

body > section > .productlist > #product > #info > #status
{
    display: flex;
}

body > section > .productlist > #product > #info > #status > #name
{
    font-size: 16px;
    font-weight: 600;
}

body > section > .productlist > #product > #info > #status > #bestseller
{
    color: red;
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 5px;
}

body > section > .productlist > #product > #info > #stock
{
    color: rgb(0, 140, 255);
}

body > section > .productlist > #product > #info > #price
{
    color: rgb(192, 0, 0);
    font-weight: 600;
}

body > section > .productlist > #product > #info > #rating > img
{
    width: 100px;
    height: 20px;
}

/*





tiles





*/

body > section > .producttiles
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body > section > .producttiles > #product
{
    display: grid;
    grid-template-rows: 150px 120px 30px;
    grid-template-areas: "image" "info" ".";
    margin-left: 50px;
    margin-right: 50px;
}

body > section > .producttiles > #product > a > img
{
    grid-area: image;
    width: 200px;
    margin-left: 40px;
}

body > section > .producttiles > #product > #info
{
    grid-area: info;
    width: 225px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    font-size: 14px;
}

body > section > .producttiles > #product > #info > #status
{
    display: flex;
}

body > section > .producttiles > #product > #info > #status > #name
{
    font-size: 16px;
    font-weight: 600;
}

body > section > .producttiles > #product > #info > #status > #bestseller
{
    color: red;
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 5px;
}

body > section > .producttiles > #product > #info > #stock
{
    color: rgb(0, 140, 255);
}

body > section > .producttiles > #product > #info > #price
{
    color: rgb(192, 0, 0);
    font-weight: 600;
	margin-top: 10px;
}

body > section > .producttiles > #product > #info > #rating > img
{
    width: 100px;
    height: 20px;
}

/*





table





*/

body > section > .producttable
{
    display: flex;
    justify-content: flex-start;
}

body > section > .producttable > #rowhead
{
    display: block;
    text-align: left;
    margin-top: 100px;
    margin-left: -30px;
	margin-right: 30px;
}

body > section > .producttable > #rowhead > ul
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

body > section > .producttable > #rowhead > ul > li
{
    margin-top: 1px;
}

body > section > .producttable > #product
{
    display: grid;
    grid-template-rows: 125px 100px;
    grid-template-areas: "image" "info";
}

body > section > .producttable > #product > #status
{
    display: flex;
    flex-direction: column;
}

body > section > .producttable > #product > #status > a > img
{
    grid-area: image;
    width: 120px;
    margin-top: 5px;
}

body > section > .producttable > #product > #status > #bestseller
{
    color: red;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 5px;
}

body > section > .producttable > #product > #info
{
    grid-area: info;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: -10px;
}

body > section > .producttable > #product > #info > div:nth-child(odd)
{
    background: linear-gradient(#c0c0c0 20px, white 1px);
    background-size: 1px 40px;
}

body > section > .producttable > #product > #info > #name
{
    font-size: 16px;
    /*background-color: rgb(192, 192, 192);*/
}

body > section > .producttable > #product > #info > #manufacturer
{
    /*background-color: rgb(192, 192, 192);*/
}

body > section > .producttable > #product > #info > #price
{
    color: rgb(192, 0, 0);
    font-weight: 600;
}

body > section > .producttable > #product > #info > #rating > img
{
    width: 100px;
    height: 20px;
}

body > section > .producttable > #product > #info > #weight
{
    /*background-color: rgb(192, 192, 192);*/
}

/*





detail





*/

body > section > .productdetail
{
    display: flex;
}

body > section > .productdetail > #product
{
    display: grid;
    grid-template-columns: 350px 450px 35px;
    grid-template-areas: "image info .";
    margin-left: 10px;
    margin-right: 10px;
}

body > section > .productdetail > #product > img
{
    grid-area: image;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body > section > .productdetail > #product > #info
{
    grid-area: info;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 14px;
}

body > section > .productdetail > #product > #info > #status
{
    display: flex;
}

body > section > .productdetail > #product > #info > #status > #name
{
    font-size: 16px;
    font-weight: 600;
}

body > section > .productdetail > #product > #info > #status > #bestseller
{
    color: red;
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 5px;
}

body > section > .productdetail > #product > #info > #price
{
    color: rgb(192, 0, 0);
    font-weight: 600;
    margin-top: 10px;
}

body > section > .productdetail > #product > #info > #rating > img
{
    width: 100px;
    height: 20px;
}

body > section > .productdetail > #product > #info > #description
{
	display: block;
	text-align: left;
	margin-top: 20px;
}

/*





footer





*/

body > footer
{
    text-align: center;
}
