<template>
  <div id="app">
    <shopping-list></shopping-list>
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import ShoppingList from "./components/ShoppingList";
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "app",
  components: {
    ShoppingList,
    HelloWorld
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  background: rgb(61, 201, 164);
  background: radial-gradient(
    circle,
    rgba(61, 201, 164, 1) 50%,
    rgba(92, 133, 120, 1) 100%
  );
}
</style>
