body {
	display: grid;
	grid-template-rows: 150px 1fr;
	grid-template-areas: "tophat" "else";
}

.topHat {
	grid-area: tophat;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 150px;
	background-color: beige;
}

img {
	max-height: 333px;
}

.container {
	grid-area: else;
	margin-top: 10px;
}

.parklist {
	display: flex;
	flex-direction: column;
}

.parklist .park {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "image info";
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px solid gray;
}

.parklist .park img {
	grid-area: image;
}

.parklist .info {
	grid-area: info;
	padding-left: 20px;
}

.parkdetail {
	display: grid;
	grid-template-rows: 2fr 1fr 2fr;
	grid-template-areas: "top" "info" "weather";
	padding-top: 40px;
	border-top: 1px solid gray;
}

.parkdetail .top {
	grid-area: top;
	display: grid;
	grid-template-columns: 1fr 570px;
	grid-template-areas: "image data";
}

.parkdetail .image {
	grid-area: image;
}

.parkdetail .data {
	grid-area: data;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 20px;
}

.parkdetail .info {
	grid-area: info;
}

.parkdetail .weather {
	grid-area: weather;
}

.parkdetail form {
	padding-top: 7.5px;
}

.weather {
	display: flex;
	justify-content: space-around;
}

.dailyWeather:nth-child(n + 2) img {
	height: 100px;
}

.dailyWeather:nth-child(n + 2) {
	margin-top: 100px;
	text-align: center;
}

.dailyWeather:nth-child(1) {
	text-align: center;
}

form .group {
	margin-bottom: 10px;
}

#activity input {
	margin-left: 16px;
}

.surveyresults {
	display: flex;
	flex-direction: column;
	padding-right: 100px;
}

.surveyresults .park {
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-template-areas: "rank info";
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid gray;
}

.surveyresults #rank {
	grid-area: rank;
	display: flex;
	flex-direction: column;
	font-size: 36px;
	justify-content: center;
	text-align: center;
}

#rankText {
	font-size: 14px;
	padding-right: 10px;
}

.surveyresults .info {
	grid-area: info;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: "image name";
}

.info #image {
	margin-left: 10px;
}

.surveyresults #image img {
	grid-area: image;
	height: 100px;
	width: 150px;
}

.surveyresults #parkname {
	grid-area: name;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
}