@charset "UTF-8";

.page1
{
	display: flex;
	flex-direction: column;
}

.page2
{
	display: flex;
	flex-direction: column;
}

.page3
{
	display: flex;
	flex-direction: column;
}

.summary
{
	display: flex;
	flex-direction: column;
}
