body {
	background-color: #000000;
	font-family: sans-serif;
}

header {
	margin: 25px;
}

header h1 {
	font-size: 21pt;
	color: #FFFFFF;
}

header p {
	color: #FFFFFF;
	/*font-size: 12pt;*/
}

header img {
	height: 110px;
}

nav {
	margin-top: 50px;
	margin-bottom: 50px;
}

nav h2 {
	color: #FFFFFF;
	padding-left: 60px;
}

nav p {
	color: #FFFFFF;
	/*font-size: 12pt;*/
	font-style: italic;
	padding-left: 60px;
}

ul {
	padding-left: 80px;
	list-style: none;
}

li {
	padding-bottom: 4px;
}

li a {
	color: #0D118B;
	text-decoration: none;
	/*font-size: 20pt;*/
	list-style: none;
	text-align: center;
	vertical-align: middle;
}

nav ul {
	width: 100%;
}

nav ul li {
	float: left;
	margin-right: 20px;
	background-color: white;
	border-radius: 8px;
	list-style: none;
	text-align: center;
	width: 200px;
	padding-top: 5px;
}

nav:after {
	clear: both;
}

li a:hover {
	text-decoration: underline;
}

section h1 {
	color: #FFFFFF;
	font-size: 21pt;
	/* padding-left: 120px; */
}

section h2 {
	color: #FFFFFF;
	font-size: 18pt;
}

section p {
	color: #FFFFFF;
	/*font-size: 14pt;*/
	width: 80%;
	margin: 25px;
	text-align: left;
}

section img {
	width: 250px;
	height: 250px;
	border-color: #FFFFFF;
	border-width: 8px;
	border-style: solid;
}

.planets {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	text-align: center;
}

.planet {
	min-height: 700px;
	vertical-align: top;
	width: 80%;
	margin: 0 auto;
}

.planet p {
	margin-left: auto;
	margin-right: auto;
}

#main-content {
	background-color: white;
	color: black;
	border-radius: 10px;
	/* width: 85%; */
	margin: 60px 78px;
	min-height: 400px;
	padding-top: 10px;
}

#main-content h2 {
	padding: 14px;
	color: black;
}

#main-content p {
	color: black;
}

.value {
	color: green;
	font-weight: bold;
}

form div {
	padding: 10px 0px;
}

form div label {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	color: white;
}

form button {
	text-align: center;
	margin-left: 224px;
}

input[type=text], input[type=datetime], textarea {
	width: 300px;
}

th, td {
	color: white;
}

table tr:first-child {
	padding-bottom: 10px;
	font-size: 1.1em;
}

table td {
	min-width: 75px;
	padding: 5px 5px;
}

section.centeredPanel {
	clear: both;
	display: block;
	width: 80%;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	margin-left: 60px;
	margin-top: 60px;
}

section.centeredPanel h2 {
	color: #000000;
	text-align: center;
}

section.centeredPanel p {
	color: #000;
	text-align: left;
}

.centered {
	text-align: center;
	display: block;
}

/* Calculator Result */
section#calculatorResult img {
	float: left;
}

section#calculatorResult h2 {
	float: left;
	width: 50%;
	text-align: left;
}

/* Space Forum Posts */
.posts {
	padding: 10px;
}

.posts .post {
	padding-left: 10px;
	padding-top: 10px;
}

.posts .post * {
	color: #000;
	margin: 0;
}

.posts .post h4 {
	padding-top: 5px;
}

.posts .post p.message {
	margin-top: 10px;
	padding-bottom: 10px;
}

.posts .post:nth-child(2n) {
	background-color: lightgray;
}

.copyright {
	color: white;
	text-align: center;
}

.headline {
	color: white;
	text-align: center;
}

.return-image{
	height: 300px;;
	padding-bottom: 30px;
	margin: 5px 10px 100px 5px;
}

.return-format {
	display: flex;
	flex-direction: row;

}

.background {
	background-color: white;
	min-height: 400px;
	margin-right: 30px;
	margin-left: 30px;
}

/*





store view





*/

body > section > .productlist
{
    display: flex;
    flex-direction: column;
	padding-bottom: 20px;
}

body > section > .productlist > #product
{
    display: grid;
    grid-template-columns: 200px 225px 1fr;
    grid-template-areas: "image info .";
    border-bottom: 1px solid rgb(172, 172, 172);
    margin-left: 50px;
    margin-right: 50px;
}

body > section > .productlist > #product > a > img
{
    grid-area: image;
    width: 200px;
	height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body > section > .productlist > #product > #info
{
    grid-area: info;
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
}

body > section > .productlist > #product > #info > #name
{
    font-size: 16px;
    font-weight: 600;
}

body > section > .productlist > #product > #info > #price
{
    color: rgb(0, 140, 255);
    font-weight: 600;
	margin-top: 10px;
}

/*





store detail





*/

body > section > .productdetail
{
    display: flex;
	padding-bottom: 50px;
}

body > section > .productdetail > #product
{
    display: grid;
    grid-template-columns: 350px 450px 35px;
    grid-template-areas: "image info .";
    margin-left: 10px;
    margin-right: 10px;
}

body > section > .productdetail > #product > img
{
    grid-area: image;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body > section > .productdetail > #product > #info
{
    grid-area: info;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 14px;
}

body > section > .productdetail > #product > #info > #name
{
    font-size: 16px;
    font-weight: 600;
}

body > section > .productdetail > #product > #info > #price
{
    color: rgb(0, 140, 255);
    font-weight: 600;
    margin-top: 10px;
}

body > section > .productdetail > #product > #info > #description
{
	display: block;
	text-align: left;
	margin-top: 20px;
}

body > section > .productdetail > #product > #info > form > #group
{
	display: block;
	padding-top: 20px;
}

body > section > .productdetail > #product > #info > form > #group > label
{
	color: black;
}

/*





store cart





*/

body > .background > .productcart > table
{
	text-align: center;
}
