.wrapper {

  
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: 100px;

}

.wrapper > div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}


.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70px
}


.nested > div {
    border: #333 1px solid;
}