.wrapper {

    
    display: grid;
    grid-template-columns: 50% 50%;
  
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    

    /*
    grid-gap: 1em;
    */
}

.wrapper > div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}