.greeting > #copy
{
	border-bottom: 2px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 500px;
}

.greeting > #reviews
{
    display: flex;
    flex-direction: column-reverse;
}

.greeting > #reviews > #review
{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding-top: 20px;
	padding-bottom: 20px;
}

.greeting > #reviews > #review > #heading
{
    display: flex;
    margin-bottom: 10px;
}

.greeting > #reviews > #review > #heading > #title
{
	font-weight: 600;
}

.greeting > #reviews > #review > #heading > #username
{
	margin-left: 5px;
}

.greeting > #reviews > #review > #date
{
	margin-bottom: 10px;
}

.greeting > #reviews > #review > #rating
{
	margin-bottom: 20px;
}

.createReview > form > #group
{
	margin-bottom: 10px;
}

.createReview > form > div > #stars
{
	display: flex;
}

.createReview > form > div > #stars > #star
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.createReview > form > div > #stars > #star > #starValues
{
	margin-top: -39px;
}

.createReview > form > div > #review
{
	margin-top: 39px;
}
