:root {
  --blue: #0e39c3;
  --grey: #f2f2f4;
  --dark-grey: rgba(50, 53, 62, 0.05);
  --black: rgba(60, 60, 60, 1);
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

/* Resets */
ul {
  margin: 0;
  padding: 0;
}

/* Resets */
img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.center {
  display: block;
  margin: 0 auto;
}

main {
  background-color: var(--grey);
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
  padding: 10px;

  opacity: 0.9;
}

main .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

main .tweet {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  margin: 1rem;
  flex-basis: 100%
}

main .tweet .author {
  font-weight: bold;
  text-align: right;
}

main .tweet .author::before {
  content: 'by: ';
}

/* 3. NAV */
/* Organize Nav Items */
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

nav ul li {
  /* Layout */
  list-style: none;
  margin: 5px;

  /* Spacing */
  text-align: center;
  line-height: 2rem;

  /* Color */
  background-color: var(--blue);
  opacity: 0.9;

  /* Border */
  border-radius: 5px;
}

nav li a {
  color: #f2f2f4;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 2rem;
}

body {
  display: grid;
  grid-template-columns: 1em auto 1em;
  grid-template-areas: 
      '. header .'
      '. nav .'
      '. content .'
      '. footer .';
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

@media only screen and (min-width: 725px)
{
  nav ul
  {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul li
  {
    flex-basis: 30%;
  }

  main .tweet
  {
    flex-basis: 45%;
  }
}

@media only screen and (min-width: 900px)
{
  body
  {
    grid-template-columns: 2em 1fr 1fr 2em;
    grid-template-areas:
    '. header nav .'
    '. content content .'
    '. footer footer .';
  }

  nav
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .tweet
  {
    flex-basis: 29%;
  }
}
