body {
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-areas: "headerTop" "content";
}

label {
	display: block;
}

.form-control {
	display: inline-block;
}

.btn {
	cursor: pointer;
	width: 125px;
	background-color: #006699;
	opacity: 0.75;
	color: white;
}

.btn:hover {
	opacity: 1;
	color: white;
}

.regLogBtn {
	opacity: 1;
}

#logoutForm {
	width: 73px;
	height: 50px;
}

#logoutButton {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #9d9d9d;
	width: 73px;
	height: 50px;
}

#logoutButton:hover {
	text-decoration: none;
	color: white;
}

#newPotholeButton {
	cursor: pointer;
}

#headerTop {
	grid-area: headerTop;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.contains {
	grid-area: content;
}

#registerPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../img/phlong.jpg") white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 92vh;
}

#registerForm {
	width: 254px;
}

#loginPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../img/phlong.jpg") white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 92vh;
}

#loginForm {
	width: 254px;
}

.mainContent {
	grid-area: content;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "map" "info";
	width: 100%;
	background-color: #ccc;
}

#displayList {
	grid-area: info;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	font-size: calc(14px + 0.5vw);
	width: 100%;
	height: 42vh;
	padding-left: 4%;
}

.displayListInner {
	border: 1px solid gray;
	border-radius: 7px;
	margin-top: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	width: 310px;
	height: 1fr;
	background-color: #99ccff;
}

.displayUpdate {
	display: flex;
	flex-direction: column;
}

.displayUpdateInner {
	margin-top: 50px;
	margin-bottom: 20px;
	height: 1fr;
}

.updateInput {
	display: flex;
	justify-content: flex-start;
}

.inspectedButton {
	margin-bottom: 10px;
}

.deleteButton {
	background-color: red;
	margin-left: 50px;
	display: flex;
	justify-content: center;
}

.updateButton {
	margin-bottom: 10px;
}

.repairedButton {
	margin-bottom: 10px;
}

#displaySubmission {
	grid-area: info;
	display: block;
	width: 100%;
	height: 100%;
	font-size: calc(14px + 0.5vw);
	padding-left: 4%;
	padding-right: 4%;
}

#submitHeader {
	display: flex;
}

#potholeSubmitForm {
	border-top: 1px solid gray;
	width: 100%;
}

.potholeSubmission {
	display: flex;
	padding-top: 2%;
}

#addressLabel {
	margin-right: 29px;
}

#detailsLabel {
	margin-right: 21px;
}

.submitNewButton {
	margin-right: 10px;
}

#pleaseLogin {
	padding-left: 2%;
}

#displayMap {
	display: flex;
	border: 1px solid black;
	width: 100%;
	height: 42vh;
}

#googleMap {
	width: 100%;
	height: 100%;
}

footer {
	display: none;
	height: 0px;
}

/*




CUSTOM SELECT




*/
.severity-field {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}

.severity-input {
	display: flex;
	flex-direction: row;
	padding: 0px;
}

.custom-select {
	position: relative;
	font-family: Arial;
	font-size: 14px;
}

.custom-select select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	background-color: #006699;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	border-radius: 7px;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: #006699;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	border-radius: 7px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.one {
	background-color: blue;
}

.two {
	background-color: green;
}

.three {
	background-color: yellow;
}

.four {
	background-color: orange;
}

.five {
	background-color: red;
}

/*




SEARCH BAR




*/
#myUL {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
}

#myUL .li {
	margin-right: 50px;
}

ul li a {
	text-decoration: none;
	color: black;
}

#searchInput {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 185px;
	height: 50px;
}

#myInput {
	background-image: url('/css/searchicon.png');
	background-color: white;
	color: black;
	border-radius: 7px;
	height: 42px;
	/* Add a search icon to input */
	background-position: 10px 12px;
	/* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 96%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 20px; /* Add some padding */
	border: 1px solid gray; /* Add a grey border */
	background-position: 10px 12px /* Add some space below the input */
}

/*




MEDIA QUERY




*/
@media only screen and (min-width: 900px) {
	#registerPage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: url("../img/phwide.jpg") white;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		width: 100%;
		height: 93vh;
	}
	#registerForm {
		width: 254px;
	}
	#loginPage {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: url("../img/phwide.jpg") white;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		width: 100%;
		height: 93vh;
	}
	#loginForm {
		width: 254px;
	}
	.mainContent {
		display: grid;
		grid-template-rows: 0fr 0fr;
		grid-template-columns: 1fr 5fr;
		grid-template-areas: "info map";
		width: 100%;
	}
	#displayList {
		grid-area: info;
		display: flex;
		flex-direction: column;
		word-wrap: break-word;
		font-size: calc(14px + 0.5vw);
		width: 365px;
		height: 93vh;
		padding-left: 10%;
	}
	.displayListInner {
		height: 1fr;
	}
	.displayUpdate {
		display: flex;
		flex-direction: column;
	}
	.displayUpdateInner {
		margin-top: 50px;
		margin-bottom: 20px;
		height: 1fr;
	}
	.updateInput {
		display: flex;
		justify-content: flex-start;
	}
	.inspectedButton {
		margin-bottom: 10px;
	}
	.deleteButton {
		background-color: red;
		margin-left: 50px;
		display: flex;
		justify-content: center;
	}
	.updateButton {
		margin-bottom: 10px;
	}
	.repairedButton {
		margin-bottom: 10px;
	}
	#displaySubmission {
		grid-area: info;
		display: block;
		width: 350px;
		font-size: calc(14px + 0.5vw);
		padding-left: 10%;
		padding-right: 4%;
	}
	#potholeSubmitForm {
		border-top: 1px solid gray;
		width: 100%;
	}
	.potholeSubmission {
		display: block;
		padding-top: 10px;
	}
	.submitNewButton {
		margin-right: 0px;
	}
	#displayMap {
		grid-area: map;
		display: flex;
		border: 1px solid black;
		width: 100%;
		height: 93vh;
	}
}