body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 280px;
}

.login .formGroup
{
	margin-bottom: 10px;
}

.register .formGroup
{
	margin-bottom: 10px;
}

form .button
{
	width: 65px;
}
