body {
	background-color: #555555;
	color: #ffff00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

h1 {
	color:red;
}


.box-1 {
	background-color: #bb1717;
	color: #fff;
	
	/*
	border-right: 15px red solid;
	border-top: 15px red solid;
	border-left: 15px red solid;
	border-bottom: 15px red solid;
	*/
	
	border: 5px green solid;
	
	padding: 20px;
	
	margin:20px;
		
}

.box-1 h1 {
	font-family: courier;
	font-style:bold;
	text-decoration: underline;
	text-transform:uppercase;
	letter-spacing: 1.0em

}

.container {
	width:80%;
	margin: auto;
}

.box-2 {
	border: 3px dotted #000;
}

.box-2 h1{
	font-size: 20px;
}

.quotes {
	border: 3px #ffffff solid;
	padding:20px;
	border-radius:55px;
}

.quotes h2 {
	text-align:left;
}

a:hover {
	color:red;
}

.quotes li {
	list-style-type: square;    /* circle,  upper-roman, lower-alpha */
	color: #fff;
	
}










